.result {
  padding: 20px;
  overflow-y: scroll;
  width: 100%;
  max-width: var(--maxwidth);
  overflow-x: hidden;
  box-sizing: border-box;
}

.texty {
  font-family: "Courier New", Courier, monospace;
  display: block;
  resize: none;
  padding: 10px;
  line-height: 1.5em;
  width: 100%;
  /* max-width: 200px; */
  margin-bottom: 20px;
}
