/* div {
  border: 1px solid gray;
} */

.parent {
  height: 100svh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.25s ease-in-out;
}

.footer {
  height: 80px;
  border: 1px solid;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-text {
  display: flex;
  flex-direction: rows;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  max-width: var(--maxwidth);
}

.footer {
  margin-top: 15px;
}

.logo path {
  fill: white;
}

.parent.light .logo path {
  fill: black;
}
