body {
  --maxwidth: 600px;
  --racetrack-width: 60px;
  --track-head-height: 3rem;
  --hose-height: 300px;
  padding: 0;
  margin: 0;
}

/* div {
  border: 1px solid gray;
} */

.parent {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-text,
.footer-text {
  display: flex;
  flex-direction: rows;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  max-width: var(--maxwidth);
}

.tracks {
  display: flex;
  width: 100%;
}

.all-racetrack-content {
  width: 100%;
  height: 100%;
  max-width: var(--maxwidth);
  position: relative;
  display: flex;
}

.lines {
  position: absolute;
  top: calc(var(--track-head-height) + 5px);
  width: 100%;
  height: calc(100% - 15px - var(--track-head-height));
  border-color: purple;
}

.full-line {
  position: absolute;
  height: 1rem;
  width: 100%;
  display: flex;
  align-items: start;
}

.line-label {
  margin-right: 5px;
  position: relative;
  top: -0.5rem;
  height: 1rem;
  width: 20px;
  text-align: end;
}

.line {
  background-color: #ccc;
  border: none;
  height: 2px;
  width: 100%;
}

.racetrack-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
}

.racetrack {
  width: var(--racetrack-width);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.track-head {
  width: 100%;
  height: var(--track-head-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.track-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

/* Thanks to chatgpt for .hose and .hose::before */
.hose {
  width: 20px;
  height: var(--hose-height);
  background-color: green; /* Hose color */
  position: relative; /* To position the pseudo-element */
}

.hose::before {
  content: "";
  position: absolute;
  top: 0;
  left: 5px; /* Offset inward */
  width: 4px; /* Stripe width */
  height: 100%; /* Full height of the hose */
  background-color: yellow; /* Stripe color */
}

.post-card-slot {
  width: 100%;
  height: 8rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.track-main {
  height: 100%;
}

.post-light {
  width: var(--racetrack-width);
  height: 5px;
}

.post-light.on {
  background-color: green;
}

.post-card-slot {
  display: flex;
  flex-direction: column;
}

.post-card {
  text-align: center;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.header,
.footer {
  height: 80px;
  border: 1px solid;
  width: 100%;
  display: flex;
  justify-content: center;
}
