@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Ponomar&display=swap");

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "IBM Plex Sans Arabic", system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  --maxwidth: 600px;
  --racetrack-width: 60px;
  --track-head-height: 3rem;
  --hose-height: 300px;
  padding: 0;
  margin: 0;
  touch-action: none;
}

a {
  all: unset;
  cursor: pointer;
  /* font-weight: 500;
  color: #646cff;
  text-decoration: inherit; */
}

a:focus {
  outline: auto 5px Highlight; /* for non-webkit browsers */
  outline: auto 5px -webkit-focus-ring-color; /* for webkit browsers */
}
/*
a:hover {
  color: #535bf2;
} */

button {
  all: unset;
  cursor: pointer;
}
button:focus {
  outline: auto 5px Highlight; /* for non-webkit browsers */
  outline: auto 5px -webkit-focus-ring-color; /* for webkit browsers */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.parent.light {
  color: #213547;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* prevents text wrap */
  border: 0;
}
